@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

.sekpejdj{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:466px;
        margin-left:55px;
        position:absolute;
    } 

    .sekpemjdj{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:466px;
        margin-left:223px;
        position:absolute;
    }    

    .sekjakon{
        border-radius:90px;
        width:39px; 
        height:39px;
       margin-top:466px;
        margin-left:399px;
        position:absolute;
    }    

    .seksadpp{
        border-radius:90px;
        width:39px; 
        height:39px;
       margin-top:466px;
        margin-left:618px;
        position:absolute;
    } 

    .sekodpsda{
        border-radius:90px;
        width:39px; 
        height:39px;
      margin-top:466px;
        margin-left:786px;
        position:absolute;
    }    

    .sekpedpptr{
        border-radius:90px;
        width:39px; 
        height:39px;
      margin-top:466px;
        margin-left:962px;
        position:absolute;
    }   




  .spemjalndanjem{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:417px;
        margin-left:55px;
        position:absolute;
    } 

    .sprejaldanjem{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:417px;
        margin-left:223px;
        position:absolute;
    }    

    .sektabang{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:417px;
        margin-left:399px;
        position:absolute;
    }    

    .seksadandrain{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:417px;
        margin-left:618px;
        position:absolute;
    } 

    .spemsda{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:417px;
        margin-left:786px;
        position:absolute;
    }    

    .speldptt{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:417px;
        margin-left:962px;
        position:absolute;
    }   




  .sptjdj{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:364px;
        margin-left:55px;
        position:absolute;
    } 

    .sptpjdj{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:364px;
        margin-left:223px;
        position:absolute;
    }    

    .spt{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:364px;
        margin-left:399px;
        position:absolute;
    }    

    .sam{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:364px;
        margin-left:618px;
        position:absolute;
    } 

    .sptsda{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:364px;
        margin-left:786px;
        position:absolute;
    }    

    .sptr{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:364px;
        margin-left:962px;
        position:absolute;
    }   







    .bpemjdj{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:297px;
        margin-left:35px;
        position:absolute;
    } 

    .bprejdj{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:297px;
        margin-left:213px;
        position:absolute;
    }    

    .btpdjk{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:297px;
        margin-left:381px;
        position:absolute;
    }    

    .bamdp{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:297px;
        margin-left:599px;
        position:absolute;
    } 

    .bsda{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:297px;
        margin-left:768px;
        position:absolute;
    }    

    .btr{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:297px;
        margin-left:944px;
        position:absolute;
    }    


    .kasubag_k{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:227px;
        margin-left:944px;
        position:absolute;
    } 

    .kasubag_p{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:227px;
        margin-left:768px;
        position:absolute;
    }    

    .kasubag_udk{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:227px;
        margin-left:597px;
        position:absolute;
    }    

    .sekretaris{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:158px;
        margin-left:768px;
        position:absolute;
    }    
    .kepala_dinas{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:113px;
        margin-left:482px;
        position:absolute;
    }
    
    .uptd{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:531px;
        margin-left:482px;
        position:absolute;
    }
    
    .kasubag_tu{
        border-radius:90px;
        width:39px; 
        height:39px;
        margin-top:584px;
        margin-left:482px;
        position:absolute;
    }
    
  /* text */
  
  
  
    .t_sekpejdj{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:486px;
     margin-left:85px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sekpejdj p{
     margin-top:-8px;
    }

    .t_sekpejdj .ca{
     margin-top:-16px;
    }


    .t_sekpemjdj{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:486px;
     margin-left:253px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sekpemjdj p{
     margin-top:-8px;
    }

    .t_sekpemjdj .ca{
     margin-top:-16px;
    }

    .t_sekjakon{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:486px;
     margin-left:429px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sekjakon p{
     margin-top:-8px;
    }

    .t_sekjakon .ca{
     margin-top:-16px;
    }


    .t_seksadpp{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:486px;
     margin-left:650px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_seksadpp p{
     margin-top:-8px;
    }

    .t_seksadpp .ca{
     margin-top:-16px;
    }


    .t_sekodpsda{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:486px;
     margin-left:818px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sekodpsda p{
     margin-top:-8px;
    }

    .t_sekodpsda .ca{
     margin-top:-16px;
    }

    
    .t_sekpedpptr{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:486px;
     margin-left:997px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sekpedpptr p{
     margin-top:-8px;
    }

    .t_sekpedpptr .ca{
     margin-top:-16px;
    }



    .t_spemjalndanjem{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:437px;
     margin-left:86px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_spemjalndanjem p{
     margin-top:-8px;
    }

    .t_spemjalndanjem .ca{
     margin-top:-16px;
    }

    .t_sprejaldanjem{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:437px;
     margin-left:254px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sprejaldanjem p{
     margin-top:-8px;
    }

    .t_sprejaldanjem .ca{
     margin-top:-16px;
    }


    .t_sektabang{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:437px;
     margin-left:429px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sektabang p{
     margin-top:-8px;
    }

    .t_sektabang .ca{
     margin-top:-16px;
    }


    .t_seksadandrain{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:437px;
     margin-left:650px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_seksadandrain p{
     margin-top:-8px;
    }

    .t_seksadandrain .ca{
     margin-top:-16px;
    }

    
    .t_spemsda{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:437px;
     margin-left:818px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_spemsda p{
     margin-top:-8px;
    }

    .t_spemsda .ca{
     margin-top:-16px;
    }



    .t_speldptt{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:437px;
     margin-left:997px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_speldptt p{
     margin-top:-8px;
    }

    .t_speldptt .ca{
     margin-top:-16px;
    }

    .t_sptjdj{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:384px;
     margin-left:117px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sptjdj p{
     margin-top:-8px;
    }

    .t_sptjdj .ca{
     margin-top:-16px;
    }


    .t_sptpjdj{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:384px;
     margin-left:253px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sptpjdj p{
     margin-top:-8px;
    }

    .t_sptpjdj .ca{
     margin-top:-16px;
    }


    .t_spt{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:384px;
     margin-left:429px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_spt p{
     margin-top:-8px;
    }

    .t_spt .ca{
     margin-top:-16px;
    }

    
    .t_sam{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:384px;
     margin-left:650px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sam p{
     margin-top:-8px;
    }

    .t_sam .ca{
     margin-top:-16px;
    }



    .t_sptsda{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:384px;
     margin-left:818px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sptsda p{
     margin-top:-8px;
    }

    .t_sptsda .ca{
     margin-top:-16px;
    }

    .t_sptr{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:384px;
     margin-left:997px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sptr p{
     margin-top:-8px;
    }

    .t_sptr .ca{
     margin-top:-16px;
    }


    .t_bpemjdj{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:318px;
     margin-left:68px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_bpemjdj p{
     margin-top:-8px;
    }

    .t_bpemjdj .ca{
     margin-top:-16px;
    }


    .t_bprejdj{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:318px;
     margin-left:248px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_bprejdj p{
     margin-top:-8px;
    }

    .t_bprejdj .ca{
     margin-top:-16px;
    }

    
    .t_btpdjk{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:316px;
     margin-left:420px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_btpdjk p{
     margin-top:-8px;
    }

    .t_btpdjk .ca{
     margin-top:-16px;
    }



    .t_bamdp{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:318px;
     margin-left:638px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_bamdp p{
     margin-top:-8px;
    }

    .t_bamdp .ca{
     margin-top:-16px;
    }

    .t_bsda{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:318px;
     margin-left:813px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_bsda p{
     margin-top:-8px;
    }

    .t_bsda .ca{
     margin-top:-16px;
    }


    .t_btr{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:318px;
     margin-left:987px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_btr p{
     margin-top:-8px;
    }

    .t_btr .ca{
     margin-top:-16px;
    }


    .t_kasubag_k{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:247px;
     margin-left:981px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_kasubag_k p{
     margin-top:-8px;
    }

    .t_kasubag_k .ca{
     margin-top:-16px;
    }

    
    .t_kasubag_p{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:247px;
     margin-left:809px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_kasubag_p p{
     margin-top:-8px;
    }

    .t_kasubag_p .ca{
     margin-top:-16px;
    }

    
    .t_kasubag_udk{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:247px;
     margin-left:632px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_kasubag_udk p{
     margin-top:-8px;
    }

    .t_kasubag_udk .ca{
     margin-top:-16px;
    }

    
    .t_sekretaris{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:178px;
     margin-left:815px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_sekretaris p{
     margin-top:-8px;
    }

    .t_sekretaris .ca{
     margin-top:-16px;
    }

    
    .t_kepala_dinas{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:133px;
     margin-left:520px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_kepala_dinas p{
     margin-top:-8px;
    }

    .t_kepala_dinas .ca{
     margin-top:-16px;
    }
    
    
    .t_uptd{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:551px;
     margin-left:520px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_uptd p{
     margin-top:-8px;
    }

    .t_uptd .ca{
     margin-top:-16px;
    }
    
        
    .t_kasubag_tu{
     width:116px;
     height:18px;
     position:absolute;
     margin-top:605px;
     margin-left:520px;
     text-align:center;
     vertical-align:middle;
     color:white;
     font-size:0.5em;
     font-family: "Open Sans";
    }
    
    .t_kasubag_tu p{
     margin-top:-8px;
    }

    .t_kasubag_tu .ca{
     margin-top:-16px;
    }
    
    /* ----- */
    
    
    
.bd_img_sekpejdj{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:681px;
position:absolute;
} 

.bd_img_sekpemjdj{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:681px;
position:absolute;
}    

.bd_img_sekjakon{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:681px;
position:absolute;
}    

.bd_img_seksadpp{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:681px;
position:absolute;
} 

.bd_img_sekodpsda{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:681px;
position:absolute;
}    

.bd_img_sekpedpptr{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:681px;
position:absolute;

}   




.bd_img_spemjalndanjem{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:388px;
position:absolute;
} 

.bd_img_sprejaldanjem{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:388px;
position:absolute;
}    

.bd_img_sektabang{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:388px;
position:absolute;
}    

.bd_img_seksadandrain{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:388px;
position:absolute;
} 

.bd_img_spemsda{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:388px;
position:absolute;
}    

.bd_img_speldptt{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:388px;
position:absolute;
}   




.bd_img_sptjdj{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:75px;
position:absolute;
} 

.bd_img_sptpjdj{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:75px;
position:absolute;
}    

.bd_img_spt{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:75px;
position:absolute;
}    

.bd_img_sam{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:75px;
position:absolute;
} 

.bd_img_sptsda{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:75px;
position:absolute;
}    

.bd_img_sptr{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:75px;
position:absolute;
}   







.bd_img_bpemjdj{
border-radius:90px;
width:68px; 
height:68px;
margin-top:242px;
margin-left:388px;
position:absolute;;
} 

.bd_img_bprejdj{
border-radius:90px;
width:68px; 
height:68px;
margin-top:242px;
margin-left:388px;
position:absolute;
}    

.bd_img_btpdjk{
border-radius:90px;
width:68px; 
height:68px;
margin-top:242px;
margin-left:388px;
position:absolute;
}    

.bd_img_bamdp{
border-radius:90px;
width:68px; 
height:68px;
margin-top:242px;
margin-left:388px;
position:absolute;
} 

.bd_img_bsda{
border-radius:90px;
width:68px; 
height:68px;
margin-top:242px;
margin-left:388px;
position:absolute;
}    

.bd_img_btr{
border-radius:90px;
width:68px; 
height:68px;
margin-top:242px;
margin-left:388px;
position:absolute;
}    


.bd_img_kasubag_k{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:681px;
position:absolute;
} 

.bd_img_kasubag_p{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:388px;
position:absolute;
}    

.bd_img_kasubag_udk{
border-radius:90px;
width:68px; 
height:68px;
margin-top:362px;
margin-left:75px;
position:absolute;
}    

.bd_img_sekretaris{
border-radius:90px;
width:68px; 
height:68px;
margin-top:242px;
margin-left:388px;
position:absolute;
}    
.bd_img_kepala_dinas{
border-radius:90px;
width:39px; 
height:39px;
margin-top:138px;
margin-left:585px;
position:absolute;
}

.bd_img_uptd{
border-radius:90px;
width:39px; 
height:39px;
margin-top:531px;
margin-left:585px;
position:absolute;
}

.bd_img_kasubag_tu{
border-radius:90px;
width:39px; 
height:39px;
margin-top:584px;
margin-left:585px;
position:absolute;
}

/* text */



.bd_sekpejdj{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:782px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_sekpejdj p{
margin-top:-8px;
}

.bd_sekpejdj .ca{
margin-top:-8px;
}


.bd_sekpemjdj{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:782px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_sekpemjdj p{
margin-top:-8px;
}

.bd_sekpemjdj .ca{
margin-top:-8px;
}

.bd_sekjakon{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:782px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_sekjakon p{
margin-top:-8px;
}

.bd_sekjakon .ca{
margin-top:-8px;
}


.bd_seksadpp{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:782px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_seksadpp p{
margin-top:-8px;
}

.bd_seksadpp .ca{
margin-top:-8px;
}


.bd_sekodpsda{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:782px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_sekodpsda p{
margin-top:-8px;
}

.bd_sekodpsda .ca{
margin-top:-8px;
}


.bd_sekpedpptr{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:782px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_sekpedpptr p{
margin-top:-8px;
}

.bd_sekpedpptr .ca{
margin-top:-8px;
}



.bd_spemjalndanjem{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:490px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_spemjalndanjem p{
margin-top:-8px;
}

.bd_spemjalndanjem .ca{
margin-top:-8px;
}

.bd_sprejaldanjem{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:490px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";

}

.bd_sprejaldanjem p{
margin-top:-8px;
}

.bd_sprejaldanjem .ca{
margin-top:-8px;
}


.bd_sektabang{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:490px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_sektabang p{
margin-top:-8px;
}

.bd_sektabang .ca{
margin-top:-8px;
}


.bd_seksadandrain{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:490px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_seksadandrain p{
margin-top:-8px;
}

.bd_seksadandrain .ca{
margin-top:-8px;
}


.bd_spemsda{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:490px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_spemsda p{
margin-top:-8px;
}

.bd_spemsda .ca{
margin-top:-8px;
}



.bd_speldptt{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:490px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_speldptt p{
margin-top:-8px;
}

.bd_speldptt .ca{
margin-top:-8px;
}

.bd_sptjdj{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:185px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_sptjdj p{
margin-top:-8px;
}

.bd_sptjdj .ca{
margin-top:-8px;
}


.bd_sptpjdj{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:185px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_sptpjdj p{
margin-top:-8px;
}

.bd_sptpjdj .ca{
margin-top:-8px;
}


.bd_spt{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:185px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_spt p{
margin-top:-8px;
}

.bd_spt .ca{
margin-top:-8px;
}


.bd_sam{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:185px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_sam p{
margin-top:-8px;
}

.bd_sam .ca{
margin-top:-8px;
}



.bd_sptsda{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:185px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_sptsda p{
margin-top:-8px;
}

.bd_sptsda .ca{
margin-top:-8px;
}

.bd_sptr{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:185px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_sptr p{
margin-top:-8px;
}

.bd_sptr .ca{
margin-top:-8px;
}


.bd_bpemjdj{
width:202px;
height:34px;
position:absolute;
margin-top:258px;
margin-left:493px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_bpemjdj p{
margin-top:-8px;
}

.bd_bpemjdj .ca{
margin-top:-8px;
}


.bd_bprejdj{
width:202px;
height:34px;
position:absolute;
margin-top:258px;
margin-left:493px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_bprejdj p{
margin-top:-8px;
}

.bd_bprejdj .ca{
margin-top:-8px;
}


.bd_btpdjk{
width:202px;
height:34px;
position:absolute;
margin-top:258px;
margin-left:493px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_btpdjk p{
margin-top:-8px;
}

.bd_btpdjk .ca{
margin-top:-16px;
}



.bd_bamdp{
width:202px;
height:34px;
position:absolute;
margin-top:258px;
margin-left:493px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_bamdp p{
margin-top:-8px;
}

.bd_bamdp .ca{
margin-top:-8px;
}

.bd_bsda{
width:202px;
height:34px;
position:absolute;
margin-top:258px;
margin-left:493px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_bsda p{
margin-top:-8px;
}

.bd_bsda .ca{
margin-top:-8px;
}


.bd_btr{
width:202px;
height:34px;
position:absolute;
margin-top:258px;
margin-left:493px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_btr p{
margin-top:-8px;
}

.bd_btr .ca{
margin-top:-8px;
}


.bd_kasubag_k{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:782px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_kasubag_k p{
margin-top:-8px;
}

.bd_kasubag_k .ca{
margin-top:-8px;
}


.bd_kasubag_p{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:490px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_kasubag_p p{
margin-top:-8px;
}

.bd_kasubag_p .ca{
margin-top:-8px;
}


.bd_kasubag_udk{
width:202px;
height:34px;
position:absolute;
margin-top:376px;
margin-left:173px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_kasubag_udk p{
margin-top:-8px;
}

.bd_kasubag_udk .ca{
margin-top:-8px;
}


.bd_sekretaris{
width:202px;
height:34px;
position:absolute;
margin-top:258px;
margin-left:493px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.8em;
font-family: "Open Sans";
}

.bd_sekretaris p{
margin-top:-8px;
}

.bd_sekretaris .ca{
margin-top:-8px;
}


.bd_kepala_dinas{
width:116px;
height:18px;
position:absolute;
margin-top:133px;
margin-left:520px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.5em;
font-family: "Open Sans";
}

.bd_kepala_dinas p{
margin-top:-8px;
}

.bd_kepala_dinas .ca{
margin-top:-16px;
}


.bd_uptd{
width:116px;
height:18px;
position:absolute;
margin-top:531px;
margin-left:520px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.5em;
font-family: "Open Sans";
}

.bd_uptd p{
margin-top:-8px;
}

.bd_uptd .ca{
margin-top:-16px;
}


.bd_kasubag_tu{
width:116px;
height:18px;
position:absolute;
margin-top:584px;
margin-left:520px;
text-align:center;
vertical-align:middle;
color:white;
font-size:0.5em;
font-family: "Open Sans";
}

.bd_kasubag_tu p{
margin-top:-8px;
}

.bd_kasubag_tu .ca{
margin-top:-16px;
}
} 


    
    